.page .theme-default-content:not(.custom) {
    max-width: 900px;
    padding: 2rem 20rem 2rem 5rem;
}

.page-nav {
    max-width: 900px;
    padding: 2rem 20rem 2rem 5rem;
}

blockquote {
    color: #2c3e50;
    border-left: 0.5rem solid #42b983;
    background-color: #f3f5f7;
    margin: 1rem 0;
    padding: 1rem;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid #2c664c52;
}